img {
    margin-top: 2%;
    height: 90vh;
    width: 100vw;
}

.card {
    margin: 10px 0px 0px 0px;
    background-color: rgb(122, 7, 7);
    text-align: center;
}

h1 {
    padding-top: 20px;
}

h1,
p,
button {
    color: #fff;
    margin: 20px;
}

button {
    background-color: rgb(122, 7, 7);
    /* border-style: solid; */
    border: 1px solid #fff;
    padding: 15px;
}

.second_card {
    margin-top: 80px;
    text-align: ;
}

#fst_p {
    color: rgb(122, 7, 7);
}

.snd_p {
    color: #000;
}

h2 {
    color: rgb(122, 7, 7);
    text-align: center;
    margin-top: 15px;
}

.no {
    color: #000;
    text-align: center;
    padding: 30px 0px 0px 0px;
}

.hjk {
    color: #000;
    text-align: center;
}