.container {
    overflow: hidden;
}

.logo {
    margin: 20px 20px 0px 20px;
    color: rgb(122, 7, 7);
}

.logop {
    margin: 10px 20px 20px 20px;
    color: #000;
}

.list_nav {
    list-style-type: none;
    display: flex;
    background-color: grey;
    padding: 0 0;
    width: 100%;
}

.list_nav li {
    flex: 1;
    /* Each li flexes to fill equal parts of the available space */
    width: 20%;
}

.list_nav a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.list_nav a:hover,
#fix a {
    background-color: rgb(122, 7, 7);
    /* Color change on hover and for #fix */
}